<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.Pf.dao.ProductDao">
  <select id="getProductList" resultType="kr.green.Pf.vo.ProductVo">
    select * from pr where pr_category = #{category}
  </select>
</mapper>