<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.Pf.dao.UserDao">
  <select id="getUser" resultType="kr.green.Pf.vo.UserVo">
  		select * from user where us_email = #{id}
  	</select>
  	<insert id="insertUser">
  		insert into user(us_email, us_pw, us_first_name, us_name, us_phone_num)
  		values(#{user.us_email}, #{user.us_pw}, #{user.us_first_name}, #{user.us_name}, #{user.us_phone_num})
  	</insert>
</mapper>